/* General */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto Mono";
}

/* Navigation */
nav {
    height: 8vh;
    border-bottom: 1px solid lightgray;
    box-shadow: 0 4px 2px -2px lightgray;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

#navTitle {
    font-size: xx-large;
    margin-left: 20px;
}

nav > img {
    height: 60px;
    border-radius: 60px;
}

nav > img:hover {
    background-color: darkgray;
    cursor: pointer;
}

/* Side Nav Panel */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    text-wrap: nowrap;
    transition: 0.5s;
    padding-top: 60px;
}

.sideNavSection {
    color: #818181;
    font-size: 28px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closeSideNav {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#openSideNav {
    font-size: 35px;
    margin-left: 20px;
}

#openSideNav:hover {
    cursor: pointer;
    color: darkgray;
}

/* Footer */
footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 4vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

#footerIcon {
    height: 30px;
    border-radius: 30px;
}

#footerIcon:hover {
    background-color: darkgray;
    cursor: pointer;
}